body{
    width: 100vw;
    font-family: "Helvetica";
}
/*
p{
    margin-block-start: 1rem;
    margin-block-end: 1rem;
}
*/

h1, h2, h6{

    font-family: "Times";
    font-weight: bolder;
}

h1, h2{
    letter-spacing: -0.12rem;
}

h1{
    font-size: 3.5rem;
}

h6{
    font-size: 1.3rem;
}

h5{
    color:rgba(0,0,0, 0.5);
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 1em;
    line-height: 1.8em;
}

h2{
    color: White;
    font-size: 3em;
}

.characterwhite{
    color: white;
}


.bigwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

.wrapper1{
    width: 70%;
}

.grid-container1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}


.introbox1:nth-child(1){
    background-color: rgb(199, 221, 234);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 20% 30% 30% 20%;
}


.introbox1 h1{
    position: relative;
    bottom: 3rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.introbox1 h5{
    position: relative;
    bottom: 8rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.introbox1:nth-child(1) .joinnow{
    position: relative;
    right: 6rem;
    bottom: 4rem;
    margin: 6rem;
    background-color: white;
    border-radius: 2rem;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.familypic{
    position: relative;
    bottom: 13.6rem;
    right: 17rem;
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    background-image: url("/img/croped_family.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 25rem;
    width: 25rem;

}

.introbox1:nth-child(2){
    background-color: rgb(241, 121, 72);
    grid-column-start: 2;
    grid-column-end:3;
    display: grid;
    grid-template-columns: 10% 40% 40% 10% ;
    grid-template-rows: 40% 10% 10% 40%;
}

.introbox1:nth-child(3){
    background-color: rgb(250, 177, 49);
    grid-column: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 10% 40% 40% 10% ;
    grid-template-rows: 40% 10% 10% 40%;
}


.textbox1:nth-child(1){
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.textbox1:nth-child(1) h5{
    position: relative;
    bottom: 1rem;
}

.textbox1:nth-child(2){
    text-align: center;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.textbox1:nth-child(2) h2{
    position: relative;
    bottom: 3rem;
}


.wrapper2{
    width: 70%;
}

.grid-container2{
    /*display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;*/
    margin: 1rem;
    display: flex;
    justify-content: space-around;
}


.text2{
    text-align: center;
    /*margin: 10%*/
}

.text2:nth-child(1) h5:nth-child(1){
    color:black;
}

.wrapper3{
    width: 70%;
}

.grid-container3{
    padding: 7rem;
    background-color: rgb(153,153,153);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10rem;
}

.grid-container3 h1{
    color: white;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-container3 h5{
    padding-top: 1rem;
    padding-right: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.inbetweenbox{
    width: 60%;
    position: relative;
    bottom:10rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.inbetweenbox h5, h6{
    text-align: center;
}

.inbetweenbox h5{
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 0.8rem;
}

.infobox3{
    width:18rem;
    background-color: white;
    border: 10rem;
}

.infobox3:nth-child(1) .colorbox3{
    background-color: rgb(199, 221, 234);
}

.infobox3:nth-child(2) .colorbox3{
    background-color: rgb(250, 177, 49);
}

.infobox3:nth-child(3) .colorbox3{
    background-color: rgb(241, 121, 72);
}

.colorbox3 img{
    padding: 0.2rem;
    text-align: center;
    width: 20rem;
    background-position: center;
}



.wrapper4{
    position: relative;
    bottom: 20rem;
    width: 70%;
}

.grid-container4{
    height: 50rem;
    background-color: rgb(250, 177, 49);
}

.infobox4{
    position: relative;
    top: 15rem;
}

.grid-container4 h2{
    margin-left: 20rem;
    margin-right: 20rem;
    text-align: center;
}

.grid-container4 h5{
    margin-left: 20rem;
    margin-right: 20rem;
    line-height: 1.1em;
    text-align: center;
}

.wrapper5{
    width: 70%;
}

.grid-container5{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
}

.infobox5:nth-child(1){
    background-color: rgb(199, 221, 234);
}

.infobox5:nth-child(2){
    background-color:white;
}

.infobox5:nth-child(4){
    background-color:white;
}

.infobox5:nth-child(5){
    background-color: rgb(241, 121, 72);
}

.infobox5:nth-child(6){
    background-color:white;
}

.infobox5:nth-child(1) h2{
    font-size: 3em;
    margin-left: 13%;
    margin-right: 13%;
    text-align: center;
    color: black;
}

.infobox5:nth-child(1) h2{
}


.infobox5 h2{
    font-size: 2em;
    margin: 10%;
    color: rgba(0,0,0, 0.5);
    
}

.infobox5 h5{
    margin: 18%;
    font-size: 1em;
    text-align: center;
    line-height: 1.4em;
    color: rgb(51,48,47);
}

.wrapper6{
    width: 70%;
}

.grid-container6{
    background-color: rgb(153,153,153);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.arrow{
    padding: 1rem;
    background-image: url("/img/small_arrow.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.grid-container6 h5{
    color: rgb(51,48,47);
    text-align: center;
    padding-bottom: 1rem;
}

.wrapper7{
    width: 70%;
}

.grid-container7{
    background-color: rgb(119,117,116);
    height: 10%;
    padding: 10rem
}
