body{
    max-width: 100wv;
    min-width: 1500px;
    font-family: "Helvetica";
}

header,nav,main,footer,section{
    width: 70%;
}

.bigwrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(235, 235, 235);
}

header{
    background-color: rgb(199, 221, 234);
}

header{
    height: 22rem;
}

header h1{
    margin-top: 10rem;
    text-align: center;
}

article img{
    position: relative;
    bottom: 12.6rem;
    left: 54rem;
}

h1, h2, h6{
    font-family: "Times";
}


h1, h2{
    letter-spacing: -0.12rem;
    line-height: 1em;
}

h1{
    font-size: 3.5rem;
}

p{
    color:rgba(0,0,0, 0.5);
    font-family: "Helvetica";
    font-weight: bold;
    font-size: 1em;
    line-height: 1.8em;
}

h6{
    font-size: 1.3rem;
}

a{
    text-decoration: none;
}

nav{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

nav p{
    color:rgba(0,0,0, 0.5);
    text-align: center;
    transition: color 0.5s;
}

nav p:hover{
    color: black;
}

nav p:nth-child(4){
    color: black;
    transition: color 0.5s;
}

nav p:nth-child(4):hover{
    color:rgba(0,0,0, 0.5);
}

main{
    height: 90rem;
    background-color: rgb(119,117,116);
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: 5% 25% 25% 45%;
}

main h1, main p{
    color:white;
}

main h1{
    font-size: 2.5em;
}

figure p{
    font-size: 0.8em;
    margin-top: 1rem;
}

.bigbox p,.sendmessage p{
    color: black;
}

main h1{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

aside{
    position: relative;
    top: 1rem;
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.smallbox,.bigbox{
    background-color: white;
    width:20rem;
}

.smallbox{
    height: 2rem;
}

.bigbox{
    height: 10rem;
}

.bigbox p{
    padding: 1rem;
}

.sendmessage{
    position: relative;
    left: 14.5rem;
    background-color: white;
    transition: background-color 0.5s;
    width:8rem;
    height: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.5);
}

.sendmessage:hover{
    background-color: rgb(250, 177, 49);
}

.sendmessage p{
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 790;
}

section img:nth-child(1){
    width: 68.58rem;
}

section img:nth-child(2){
    position: relative;
    bottom:22rem;
    left: 28rem;
    width: 8rem;
    /*transition: 0.2rem 2s ease-out;*/
    transition: bottom 0.5s;

}



section img:nth-child(2):hover{
    bottom: 22.5rem;
}

footer figure{
    position: relative;
    bottom:35rem;
    width: 22rem;
    height: 12rem;
    background-color: rgb(250, 177, 49);
    transition: background-color 0.5s;
    box-shadow: 0.1rem 0.2rem rgba(0,0,0,0.5);
}

footer figure:hover{
    background-color: rgb(241, 121, 72);
}

footer figure h1{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0.1rem;
    margin-inline-end: 0.1rem;
    margin-left: 1rem;
    padding-top: 1rem;
    color: white;
}

footer figure p{
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-left: 1.2rem;
}

footer{
    position: relative;
    bottom: 55rem;
}

